.button {
  display: inline-block;
  color: $basic-white;
  background-color: $basic-blue;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
