.promo {
  background: linear-gradient(
    0deg,
    rgba(152, 195, 232, 0.2) 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}

.promo__wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 94px 213px 190px 213px;
  background: url("../img/Promo/illustration.svg") no-repeat 97% top;

  @media (min-width: $tablet-width) and (max-width: 1365px) {
    background-position: 97% 52%;
    background-size: 45%;
  }

  @media (max-width: $tablet-width) {
    width: 688px;
    padding: 70px 40px 170px 40px;
    background-position: 97% 52%;
    background-size: 45%;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    background-position: 52% 75%;
    background-size: 67%;
  }
}

.promo__title {
  color: $basic-dark-blue;
  margin: 0;
  font-family: $font;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  max-width: 510px;
  margin-bottom: 32px;

  @media (max-width: $mobile-width) {
    max-width: 300px;
    font-size: 35px;
    line-height: 35px;
  }
}

.promo__content {
  margin: 0;
  color: $basic-dark-blue;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  opacity: 0.6;
  max-width: 445px;
  margin-bottom: 76px;

  @media (min-width: $tablet-width) and (max-width: 1365px) {
    max-width: 347px;
  }

  @media (max-width: $mobile-width) {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 203px;
  }
}

.promo__button {
  padding: 15px 48px;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);

  @media (max-width: $mobile-width) {
    padding: 5px 20px;
    align-self: center;
  }
}
