.what-we-do {
  padding: 192px 0 212px 0;

  @media (max-width: $tablet-width) {
    padding: 100px 0 100px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 0 30px 0;
  }
}

.what-we-do__title {
  margin: 0;
  color: $special-dark-blue;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  max-width: 359px;

  @media (max-width: $tablet-width) {
    margin-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.what-we-do__list {
  @include list-zeroing;
  margin-top: -138px;
  padding-left: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
  }
}

.what-we-do__item {
  background-color: $basic-white;
  max-width: 284px;
  padding: 236px 48px 48px 48px;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;

  &--first {
    grid-column: 1 / 2;
    position: relative;
    top: 56%;

    &::before {
      content: "";
      position: absolute;
      width: 195px;
      height: 132px;
      top: 49px;
      left: 43%;
      transform: translateX(-50%);
      background: url("../img/what-we-do/1.svg") no-repeat;
    }
  }

  &--second {
    position: relative;
    grid-column: 2 / -1;

    &::before {
      content: "";
      position: absolute;
      width: 254px;
      height: 207px;
      top: -23px;
      left: 51%;
      transform: translateX(-50%);
      background: url("../img/what-we-do/3.svg") no-repeat;
    }
  }

  &--third {
    position: relative;
    grid-column: 2 / -1;

    &::before {
      content: "";
      position: absolute;
      width: 176px;
      height: 131px;
      top: 47px;
      left: 46%;
      transform: translateX(-50%);
      background: url("../img/what-we-do/2.svg") no-repeat;
    }
  }

  @media (max-width: $tablet-width) {
    &--first {
      top: 0;
    }

    &--third {
      grid-column: 1 / 2;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;

    &--first,
    &--second,
    &--third {
      grid-column: 1 / 2;
    }
  }
}

.what-we-do__item-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: $basic-dark-blue;
}

.what-we-do__item-content {
  margin: 0;
  margin-bottom: 31px;
  color: $basic-dark-blue;
  opacity: 0.6;
}

.what-we-do__item-button {
  color: $basic-blue;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  padding-right: 48px;
  background: url("../img/what-we-do/ic_arrow_forward.svg") no-repeat center
    right;
  cursor: pointer;
}
