.work-with-us {
  margin-top: -1px;
  position: relative;
  background: linear-gradient(
    to right,
    $special-dark-blue 50%,
    $basic-blue 50%
  );
}

.work-with-us__wrapper {
  margin: 0 auto;
  max-width: 940px;
  padding: 91px 118px 96px 120px;
  background-color: $special-dark-blue;
  border-radius: 0 200px 0 0;
  display: grid;
  grid-template-columns: 460px auto;
  column-gap: 180px;
  justify-content: start;

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 1073px;
    height: 1px;
    background-color: $basic-white;
    opacity: 0.4;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr auto;
    padding: 91px 40px 50px 40px;
    width: 688px;

    &::after {
      width: 100%;
    }
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    width: 300px;
    padding: 91px 30px 50px 30px;
    column-gap: 0;
    border-radius: 0 100px 0 0;
  }
}

.work-with-us__title {
  grid-column: 1 / 2;
  margin: 0;
  margin-bottom: 32px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  max-width: 317px;
  color: $basic-white;

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.work-with-us__content {
  grid-column: 1 / 2;
  margin: 0;
  color: $basic-white;
  opacity: 0.6;
  max-width: 460px;

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.work-with-us__button {
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: end;
  padding: 13px 74px;

  @media (max-width: $mobile-width) {
    grid-column-start: 1;
    grid-row-start: 3;
  }
}
